<section>
  <mat-card class="login-card">
    <h2>Inloggen</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
      <p *ngIf="errorMessage">
        {{errorMessage}}
      </p>
      <p>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="text" required formControlName="email">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" required formControlName="password" />
        </mat-form-field>
      </p>
      <p>
        <button mat-raised-button color="primary" type="submit">Opslaan</button>
      </p>
    </form>
  </mat-card>
</section>
